body{
    font-size: 18px;
    font-family: 'Open Sans',sans-serif;
}

h1{
    font-size: 36px;
    font-weight: 800;
    border-bottom: 4px solid black;
    display: inline-block;
    margin-top: 0;
}

h2{
    font-size: 27px;
    font-weight: 800;
    padding: 14px 0;
    text-transform: uppercase;
    border-bottom: 4px solid #fffebb;
    display: inline-block;
   color:#fffebb;
   
}
div{
    font-size: 20px;
    width: 50%;
    display: inline-block;
}

img{
    display: block;
    margin: 0 auto;
    width: 480px;
}

ul li{
    list-style: none;
    margin: 0;
    padding:0;
}
li{
    float: left;
    width: 50%;
    height: 96px;
    outline: 3px solid #222;
    text-align: center;
    line-height: 96px;
    color:black;
    background: white;
}

footer{
    padding: 18px 0 ;
    clear: both;
}

nav a{
    text-decoration: none;
    color:black;
    margin: 13px 30px;
    display: inline-block;
 

}
nav{
    margin-top: 20px;
    font-size: 24px;
    float: right;

}

section{
    background: #222;
    color: white;
    overflow: auto;
}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
.about{
    float: left;
    width: 46%;
    padding: 2%;
    
}
.services{
    float:right;
    width: 46%;
    padding: 2%;
}

.hero{
    width: 100%;
    display: block;
    margin: 0;
}